# Variables de la Base de Datos (PostgreSQL / Neon)
SPRING_DATASOURCE_URL=jdbc:postgresql://tu_host_aqui/tu_db?sslmode=require
SPRING_DATASOURCE_USERNAME=tu_usuario_aqui
SPRING_DATASOURCE_PASSWORD=tu_password_aqui

# Variables de Gmail (App Password) para envío de correos
SPRING_MAIL_USERNAME=tu_email_aqui@gmail.com
SPRING_MAIL_PASSWORD=tu_app_password_aqui

# Variables de Mercado Pago
MP_ACCESS_TOKEN=tu_access_token_aqui
MP_PUBLIC_KEY=tu_public_key_aqui
